<div class="row center  blue-grey darken-1" style="margin: 1em; padding: 2em; border-radius: 1em">
  <div class="row left" style="width: fit-content; margin: 3em">
    <img src="/images/documents.jpg" style="width: 30em;" alt="">
  </div>
  <div class="row right" style="margin-right:5em; margin-top:2em; width: 20em">
    <form autocomplete="off" action="/project/add" method="post">
      <div class="card-content">
        <div class='input-field'>
          <label for='user-name'>Nombre(s)</label>
          <input placeholder="Escribe aqui.." id='project-name' name='name' type='text' class="validate" />
        </div>
        <div class='input-field'>
          <label for='user-firstName'>Primer Apellido</label>
          <input placeholder="Escribe aqui..." id='project-name' name='first' type='text' class="validate" />
        </div>
        <div class='input-field'>
          <label for='user-secondName'>Segundo Apellido</label>
          <input placeholder="Escribe aqui.." id='project-name' name='second' type='text' class="validate" />
        </div>
        <div class='input-field'>
          <label for='user-e-mail'>E-mail</label>
          <input placeholder="ejemplo@gmail.com" id='project-name' name='email' type='email' class="validate" />
        </div>
      </div>
      <div class="card-action">
        <a href="/project/add" class="waves-effect blue-grey btn-small">
          <i class="material-icons left">person</i>
          Registrarme </a>
      </div>
    </form>
  </div>
  <div class="row center blue-grey darken-4" style=" border-radius: 1em"></div>
</div>
<div class="row center  blue-grey darken-1" style="margin: 1em; padding: 2em; border-radius: 1em; height:30em">
<h2>Consulta las convocatorias</h2>
  <div class="carousel" style="height:15em">
    <a class="carousel-item" href="#one!"><img src="/images/documentos.png"></a>
    <a class="carousel-item" href="#two!"><img src="/images/documentos.png"></a>
    <a class="carousel-item" href="#three!"><img src="/images/documentos.png"></a>
    <a class="carousel-item" href="#four!"><img src="/images/documentos.png"></a>
    <a class="carousel-item" href="#five!"><img src="/images/documentos.png"></a>
  </div>
</div>