<div class="row left">
  <div class="col s6 m5">
    <div class="card">
      <div class="card-image">
        <img src="/images/profile.jpg">
        <span class="card-title">Bienvenido Juanito</span>
      </div>
      <div class="card-content blue-grey darken-2">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Non deserunt dolorem ab incidunt molestiae excepturi
          similique, quasi quaerat animi repellendus earum, officia eveniet blanditiis magni omnis optio facilis,
          reprehenderit laudantium?</p>
      </div>
    </div>
  </div>
  <div class="col s6 m5">
    <div class="card">
      <div class="card-content blue-grey darken-2">
        <p style="font-size: medium;">Completa tu solicitud de promoción, recuerda que es un requisito
          obligatorio para participar en cualquier convocatoria.
        </p>
      </div>
      <div class="card-action">
        <a href="/profile/filesProfile" style="color: #424242">Ir a mi solicitud</a>
      </div>
    </div>
  </div>
</div>